@import "assets/css/mixin/wrap";
@import "assets/css/mixin/grid";
@import "assets/css/mixin/line-feed";

.index{
  .carousel{
    @include wrap(100%, auto, none){
      margin-bottom: 163px;
      @include phone() {
        margin-bottom: 0px;
      }
    }
  }
  .hot-tags{
    @include wrap(1100px, 169px, red) {
      height: auto;
      width: 90%;
      border-radius: 6px;
      box-shadow:1px 3px 9px gray;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -140%);
      background: #ffffff;
      @include phone() {
        transform: translate(0%, 0%);
        position: initial;
        box-shadow:0px 0px 0px;
        width: 100%;
        margin-bottom: 10px;
      }
      .tags-title{
        overflow: hidden;
        max-width: 1000px;
        padding-left: 50px;
        padding-right: 50px;
        height: 67px;
        @include phone() {
          padding-left: 0px;
          padding-right: 0px;
        }
        button{
          font-size: 17px;
          height: 67px;
          background-color: #ffffff;
          border: 1px solid #ffffff;
          padding: 9px 10px;
          cursor: pointer;
          float: left;
          @include phone() {
            font-size: 14px;
          }
        }
      }
      .tags-body{
        overflow: hidden;
        max-width: 1000px;
        padding-left: 50px;
        padding-right: 50px;
        height: 100px;
        @include phone() {
          padding-left: 0px;
          padding-right: 0px;
          height: 60px;
          font-size: 14px;
          margin-left: 5px;
        }
        p{
          margin: 42px 16px 42px 0px;
          float: left;
          color: #8c8c8c;
          @include phone() {
            margin: 21px 16px 21px 0px;
          }
        }
        button{
          height: 37px;
          margin: 31px 16px 31px 0px;
          padding: 8px;
          border:none;
          border-radius: 5px;
          color: #428da9;
          background-color: #f5f5f5;
          font-size: 10px;
          float: left;
          @include phone() {
            margin: 15px 16px 15px 0px;
          }
        }
      }
    }
  }
  .introduction{
    @include wrap(930px, auto, none){
      margin-bottom: 5%;
      @include mini-note-book() {
        margin-left: 10%;
      }
      @include pad() {
        margin-left: 14%;
      }
      img{
        max-width: 60px;
        height: auto;
        float: left;
        @include phone() {
          max-width: 44px;
        }
      }
      .content{
        @include wrap(200px, auto, none){
          width: 100%;
          float: left;
          padding-left: 1%;
          padding-top: 5px;
          margin-right: 4%;
          overflow: hidden;
          @include mini-note-book() {
            max-width: 100px;
            margin-right: 8%;
          }
          @include pad() {
            max-width: 50px;
          }
          @include phone() {
            margin-right: 10%;
            max-width: 20px;
          }
          h3{
            font-size: 18px;
            margin-bottom: 10px;
            @include phone() {
              font-size: 14px;
            }
          }
          p{
            font-size: 14px;
            color: #8c8c8c;
            @include pad() {
              display: none;
            }
          }
        }
      }
    }
  }
  .course{
    @include wrap(1200px, auto, none) {
      .title{
        max-width: 1150px;
        margin-bottom: 40px;
        padding-left: 15px;
        h3{
          max-width: 195px;
          font-size: 24px;
          float: left;
          @include phone() {
            font-size: 18px;
          }
        }
        a{
          font-size: 15px;
          color: #8c8c8c;
          text-decoration:none;
          float: right;
          margin: 4px 0px;
        }
      }
      .contents{
        max-width: 1200px;
        margin: 0px auto;
        .course-item{
          width: 22.5%;
          height: 353px;
          float: left;
          margin: 1%;
          border-radius: 5px;
          box-shadow:1px 1px 3px gray;
          @include mini-note-book() {
            width: 31.333333%;
          }
          @include pad() {
            width: 47%;
          }
          @include phone() {
            width: 98%;
            height: 180px;
          }
          img{
            @include phone() {
              width: 30%;
              float: left;
            }
          }
          .news{
            max-width: 250px;
            height: 80px;
            margin: 0px 6px;
            @include phone() {
              float: right;
              width: 65%;
            }
            h3{
              @include line-feed-2() {
                margin-bottom: 10px;
                font-size: 20px;
                @include phone() {
                  font-size: 15px;
                  margin-bottom: 5px;
                }
              }
            }
            img{
              width: 30px;
              height: 30px;
              margin-right: 10px;
              margin-bottom: 10px;
              float: left;
              @include phone() {
                width: 20px;
                height: 20px;
                margin-bottom: 5px;
              }
            }
            p{
              float: left;
              font-size: 14px;
              color: #8c8c8c;
              margin: 3% 60% 20px 0px;
              @include phone() {
                font-size: 6px;
                margin-bottom: 14px;
              }
            }
            .remaining-days p{
              font-size: 13px;
              margin: 3px 0px 0px 3px;
              color: #595959;
              float: left;
              @include phone() {
                font-size: 5px;
              }
            }
            .progress-bar{
              max-width: 260px;
              width: 100%;
              height: 9px;
              margin: 7% auto;
              float: left;
              border-radius: 30px;
              background: #d7645f;
              @include phone() {
                margin: 12px auto;
              }
            }
            .price{
              float: left;
              p{
                margin: 0px 4px;
                font-size: 18px;
                color: #454545;
                @include phone() {
                  margin-top: 4px;
                  font-size: 7px;
                }
              }
              s{
                margin: 3px 6px;
                font-size: 13px;
                color: #c0c0c0;
                @include phone() {
                  font-size: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .evaluation{
    @include wrap(100%, 610, url("./assets/images/evaluation.png") no-repeat left center) {
      h3{
        max-width: 96px;
        height: 24px;
        font-size: 24px;
        margin: 0px auto;
        padding: 3% 0px 25px 0px;
      }
      .comment{
        max-width: 1170px;
        height: 540px;
        margin: 0px auto;
        .comment-item{
          width: 48%;
          height: 200px;
          margin: 1%;
          float: left;
          background: #ffffff;
          border-radius: 5px;
          box-shadow:1px 1px 3px gray;
          @include mini-note-book() {
            width: 100%;
          }
          img{
            max-width: 100%;
            height: auto;
            float: left;
            margin: 2% 3% 5px;
          }
          p{
            font-size: 13px;
            color: #8e8e8e;
            margin: 4% 60% 12px 0px;
            float: left;
            @include phone() {
              margin: 4% 40% 12px 0px;
            }
          }
          .date{
            font-size: 10px;
            color: #8e8e8e;
            float: right;
            margin: 4% 3% 12px 0px;
          }
          h3{
            @include line-feed-2() {
              height: auto;
              max-width: 100%;
              font-size: 15px;
              color: #595959;
              margin-left: 2%;
              margin-right: 2%;
              padding: 0px;
              float: left;
              line-height:20px;
            }
          }
          .empty-stars {
            margin: 0px 0px 2% 10px;
          }
          .empty-stars::before {
            content:"\2605\2605\2605\2605\2605";
            font-size: 14pt;
            -webkit-text-stroke: 1px #848484;
          }
          .course-item{
            max-width: 500px;
            width: 100%;
            height: 50px;
            margin-left: 10px;
            background: #fafafa;
            float: left;
            @include note-book() {
              max-width: 400px;
            }
            img{
              width: 68px;
              height: 49px;
              margin: 3px 8px 3px 0px;
            }
            p{
              font-size: 10px;
              color: #8c8c8c;
              margin: 14px 0px;
            }
          }
        }
      }
    }
  }
}
