@mixin header($header-height, $header-background){
  position: fixed;
  min-width: 100%;
  height: $header-height;
  background: $header-background;
  top: 0;
  left: 0;
  margin-top: 0;
  @content
}
